<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseleap.mapper.hyeondongMapper.HDUserMapper">
<insert id="createUser" parameterType="com.baseleap.model.hyeondongModel.UserDTO">
    insert into user
    value (
        null,
        #{email},
        #{password},
        #{nickname},
        #{profileImage},
        #{introduce},
        now(),
        null,
        #{question},
        #{answer}
    );
</insert>
<select id="getUserByEmail" parameterType="string" resultType="com.baseleap.model.hyeondongModel.UserDTO">
    select *
    from user
    where email=#{email};
</select>
</mapper>