<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseleap.mapper.hyeondongMapper.MyPageMapper">
    <select id="getUserInfoById" parameterType="_int" resultType="com.baseleap.model.hyeondongModel.UserDTO">
        select
            id,
            email,
            password,
            nickname,
            profile_image as profileImage,
            user_introduce as userIntroduce,
            date_format(created_time,"%Y년 %m월 %d일 %H:%i") AS createdTime,
            date_format(last_login_time,"%Y년 %m월 %d일 %H:%i") AS lastLoginTime,
            validation_quiz_question as validationQuizQuestion,
            validation_quiz_answer as validationQuizAnswer,
            active
        from user
        where id=#{id};
    </select>
    <select id="getSearchingUserList" parameterType="string" resultType="com.baseleap.model.hyeondongModel.UserDTO">
        select
            id,
            profile_image as profileImage,
            email,
            nickname,
            user_introduce as userIntroduce
        from user
        where active = 1
        and (email like '%${keyword}%' or nickname like '%${keyword}%');

    </select>
    <select id="getMyFollowers" parameterType="_int" resultType="com.baseleap.model.hyeondongModel.UserDTO">
        select
            u.id,
            u.profile_image as profileImage,
            u.email,
            u.nickname,
            u.user_introduce as userIntroduce
        from follow as f
        join user as u
        where u.active = 1
        and f.target_id = #{id}
        and f.user_id = u.id;
    </select>
    <select id="getMeFollowings" parameterType="_int" resultType="com.baseleap.model.hyeondongModel.UserDTO">
        select
            u.id,
            u.profile_image as profileImage,
            u.email,
            u.nickname,
            u.user_introduce as userIntroduce
        from follow as f
        join user as u
        where u.active = 1
        and f.target_id = u.id
        and f.user_id = #{id};
    </select>
    <select id="isFollowing" parameterType="_int" resultType="com.baseleap.model.hyeondongModel.FollowDTO">
        select
            id,
            user_id as userId,
            target_id as targetId,
            createdat as createdAt
        from follow
        where user_id = #{userId}
        and target_id = #{targetId};
    </select>
    <insert id="following" parameterType="com.baseleap.model.hyeondongModel.UserDTO">
        insert into follow
        value (
            null,
            #{userId},
            #{targetId},
            now()
        );
    </insert>
    <delete id="unfollow" parameterType="_int">
        delete from follow
        where user_id = #{userId}
        and target_id = #{targetId};
    </delete>
</mapper>