<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three Section Layout</title>
    <link rel="stylesheet" href="../css/layout.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
      a {
        text-decoration: none; /* 밑줄 없애기 */
      }
      .heart1 {
        color: red;
      }

      .main-content {
        margin-left: 30px;
        margin-right: 50px;
      }
      .swiper-container {
        width: 100%;
        height: 400px;
        position: relative;
        border: 2px solid black;
      }
      .content-box {
        border: 2px solid black;
      }

      .find-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-button-next,
      .swiper-button-prev {
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-button-next {
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      .swiper-button-prev {
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .user-btn {
      }
      .comment-content-box {
        border: 2px solid black;
      }
      .comment-text {
        width: 100%;
        height: 50px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="logo">LOGO</div>
      <div class="title">Title</div>
    </div>
    <div class="container">
      <div class="sidebar">
        <ul>
          <li>Menu 1</li>
          <li>Menu 2</li>
          <li>Menu 3</li>
        </ul>
      </div>
      <div class="main-content">
        <input th:value="${findPost.post.id}" id="postId" />
        <div>
          <h2 th:text="${findPost.post.title}"></h2>

          <a href="javascript:void(0);" class="heart" onclick="like(0)">♡</a>
          <a href="javascript:void(0);" class="heart1" onclick="like(1)">♥</a>

          <h5 th:text="${findPost.post.nickName}"></h5>
          <h6 th:text="${findPost.post.createdAt}"></h6>
          <div class="user-btn">
            <a th:href="@{/baseleap/postupdate(postId=${findPost.post.id})}"
              >수정</a
            >
            <button class="delete-btn">삭제</button>
          </div>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div th:if="${findPost.post.image1 != null}" class="swiper-slide">
              <img
                th:src="${findPost.post.image1}"
                alt="이미지"
                class="find-image"
              />
            </div>
            <div th:if="${findPost.post.image2 != null}" class="swiper-slide">
              <img
                th:src="${findPost.post.image2}"
                alt="이미지"
                class="find-image"
              />
            </div>
            <div th:if="${findPost.post.image3 != null}" class="swiper-slide">
              <img
                th:src="${findPost.post.image3}"
                alt="이미지"
                class="find-image"
              />
            </div>
          </div>
          <!-- Swiper navigation buttons -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="content-box">
          <p>내용</p>
          <p th:text="${findPost.post.content}" readonly></p>
        </div>
        <div class="comment-content-box">
          <ul class="cc" id="comment-ul">
            <block th:each="comment : ${findPost.postComments}">
              <li
                class="comment"
                th:if="${comment.parentid == null}"
                th:id="'comment-li-' + ${comment.id}"
              >
                <div class="comment-id" th:text="${comment.usernickname}">
                  User1
                </div>
                <div
                  class="comment-content"
                  th:id="'comment-content-text-' + ${comment.id}"
                  th:text="${comment.comment}"
                >
                  댓글 내용 1
                </div>

                <div
                  th:id="'comment-edit-' + ${comment.id}"
                  style="display: none"
                >
                  <input
                    type="text"
                    th:id="'comment-input-' + ${comment.id}"
                    th:value="${comment.comment}"
                  />
                  <button
                    th:id="'comment-save-btn-' + ${comment.id}"
                    th:onclick="'commentUpdate(' + ${comment.id} + ')'"
                  >
                    등록
                  </button>
                </div>
                <div>
                  <div class="comment-date" th:text="${comment.createdAt}">
                    2024-09-16
                  </div>
                  <button
                    th:id="'comment-update-btn-' + ${comment.id}"
                    th:onclick="'openUpdate(' + ${comment.id} + ')'"
                  >
                    수정
                  </button>
                  <button
                    th:id="'comment-delete-btn-' + ${comment.id}"
                    th:onclick="'commentDelete(' + ${comment.id} + ')'"
                  >
                    삭제
                  </button>
                </div>
                <button
                  th:id="'reply-btn-' + ${comment.id}"
                  th:onclick="'replyOpen(' + ${comment.id} + ')'"
                >
                  답글쓰기
                </button>
                <div th:id="'reply-input-' + ${comment.id}" hidden>
                  <input
                    class="reply-text"
                    type="text"
                    th:id="'reply-text-' + ${comment.id}"
                  />
                  <button
                    id="reply-add-btn"
                    th:onclick="'replyAdd(' + ${comment.id} + ')'"
                  >
                    답글등록
                  </button>
                </div>

                <div th:id="'comment-box-' + ${comment.id} + ''">
                  <ul
                    class="nested"
                    th:each="reply : ${findPost.postComments}"
                    th:if="${reply.parentid == comment.id}"
                  >
                    <li class="recomment" th:id="'reply-li-' + ${reply.id}">
                      <div class="recomment-id" th:text="${reply.usernickname}">
                        User2
                      </div>
                      <div
                        class="recomment-content"
                        th:text="${reply.comment}"
                        th:id="'reply-text-' + ${reply.id}"
                      >
                        대댓글 1-1 내용
                      </div>
                      <div class="recomment-date" th:text="${reply.createdAt}">
                        2024-09-16
                      </div>
                      <div
                        th:id="'reply-edit-' + ${reply.id}"
                        style="display: none"
                      >
                        <input
                          type="text"
                          th:id="'reply-input-' + ${reply.id}"
                          th:value="${reply.comment}"
                        />
                        <button
                          th:id="'comment-save-btn-' + ${reply.id}"
                          th:onclick="'replyUpdate(' + ${reply.id} + ')'"
                        >
                          등록
                        </button>
                      </div>
                      <div>
                        <button
                          th:onclick="'replyUpdateOpen(' + ${reply.id} + ')'"
                        >
                          수정
                        </button>
                        <button th:onclick="'replyDelete('+ ${reply.id} + ')'">
                          삭제
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </block>
          </ul>
          <input class="comment-text" type="text" id="comment-text" />
          <button id="comment-add-btn">댓글쓰기</button>
        </div>
      </div>
    </div>
  </body>
  <script>
    var swiper = new Swiper(".swiper-container", {
      loop: true, // 무한 루프
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    function openUpdate(commentId) {
      // 댓글 내용을 숨기고 인풋창을 표시
      document.getElementById("comment-edit-" + commentId).style.display =
        "block";
    }

    $("#comment-add-btn").click(() => {
      const commentText = $(".comment-text").val();
      // 날짜가져오기
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, "0"); // 월은 0부터 시작하므로 +1
      const day = String(now.getDate()).padStart(2, "0");
      const hours = String(now.getHours()).padStart(2, "0");
      const minutes = String(now.getMinutes()).padStart(2, "0");
      const formattedDate = `${year}.${month}.${day}. ${hours}:${minutes}`;
      const data = {
        userId: 1,
        comment: commentText,
        postId: $("#postId").val(),
      };

      $.ajax({
        type: "post",
        url: "/baseleap/postcommentcreate",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {
        if (resp == "SUCCESS") {
          $("#comment-ul").append(`
                <li class="comment">
                  <div class="comment-id">${data.userId}</div>
                  <div class="comment-content">${data.comment}</div>
                  <div class="comment-date">${formattedDate}</div>
                </li>
          `);
          $("#comment-text").val("");
        }
      });
    });

    function replyOpen(commentId) {
      const replyDiv = document.getElementById("reply-input-" + commentId);
      replyDiv.hidden = false;
    }

    function replyUpdateOpen(replyId) {
      document.getElementById("reply-edit-" + replyId).style.display = "block";
    }

    function replyAdd(commentId) {
      // 현재 날짜
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, "0"); // 월은 0부터 시작하므로 +1
      const day = String(now.getDate()).padStart(2, "0");
      const hours = String(now.getHours()).padStart(2, "0");
      const minutes = String(now.getMinutes()).padStart(2, "0");
      const formattedDate = `${year}.${month}.${day}. ${hours}:${minutes}`;
      // 대댓글 내용
      const replyInput = document.getElementById("reply-text-" + commentId);
      const replyText = replyInput.value;

      const data = {
        postId: $("#postId").val(),
        userId: 1,
        commentId: commentId,
        reply: replyText,
      };

      $.ajax({
        type: "post",
        url: "/baseleap/postreplycreate",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {
        if (resp == "SUCCESS") {
          $("#comment-box-" + data.commentId).append(`
                <ul class="nested">
                      <li class="recomment">
                        <div class="recomment-id">
                          ${data.userId}
                        </div>
                        <div class="recomment-content">
                          ${data.reply}
                        </div>
                        <div class="recomment-date">
                          ${formattedDate}
                        </div>
                      </li>
                    </ul>
          `);
          replyInput.value = "";
          const replyDiv = document.getElementById("reply-input-" + commentId);
          replyDiv.hidden = true;
        }
      });
    }

    function commentUpdate(commentId) {
      const updateComment = $("#comment-input-" + commentId).val();
      const comment = $("#comment-content-text-" + commentId);
      const data = {
        commentId: commentId,
        comment: updateComment,
      };
      $.ajax({
        type: "put",
        url: "/baseleap/postcomment",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {
        if (resp == "SUCCESS") {
          comment.text(updateComment);
          document.getElementById("comment-edit-" + commentId).style.display =
            "none";
        }
      });
    }

    function commentDelete(commentId) {
      $.ajax({
        type: "delete",
        url: "/baseleap/postcomment?commentId=" + commentId,
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {
        if (resp == "SUCCESS") {
          $("#comment-li-" + commentId).remove();
        }
      });
    }

    function replyUpdate(replyId) {
      const reply = $("#reply-input-" + replyId);
      const data = {
        commentId: replyId,
        comment: reply.val(),
      };
      $.ajax({
        type: "put",
        url: "/baseleap/postreply",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {
        if (resp == "SUCCESS") {
          console.log("asdadasd" + data.comment);
          $("#reply-text-" + replyId).text(data.comment);
          document.getElementById("reply-edit-" + replyId).style.display =
            "none";
        }
      });
    }

    function replyDelete(replyId) {
      $.ajax({
        type: "delete",
        url: "/baseleap/postcomment?commentId=" + replyId,
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {
        if (resp == "SUCCESS") {
          $("#reply-li-" + replyId).remove();
        }
      });
    }

    function like(check) {
      const data = {
        postId: $("#postId").val(),
        userId: 1,
        check: check,
      };
      console.log("postId => " + data.postId);
      console.log("userId => " + data.userId);
      $.ajax({
        type: "post",
        url: "/baseleap/postlike",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
      }).done((resp) => {});
    }
  </script>
</html>
