<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.baseleap.mapper.UserMapper">

    <select id="login" parameterType="com.baseleap.model.UserModel"
            resultType="com.baseleap.model.UserModel">
        select
            id,
            email,
            password,
            nickname,
            profile_image as profileImage,
            user_introduce as userIntroduce,
            created_time as createdTime,
            last_login_time as lastLoginTime,
            validation_quiz_question as validationQuizQuestion,
            validation_quiz_answer as validationQuizAnswer,
            active
        from	user
        where  email = #{email}
        and  password  = #{password}
        and  active = 1
    </select>

    <select id="getUser" parameterType="String"
            resultType="com.baseleap.model.UserModel">
        select
            id,
            email,
            password,
            nickname,
            profile_image as profileImage,
            user_introduce as userIntroduce,
            created_time as createdTime,
            last_login_time as lastLoginTime,
            validation_quiz_question as validationQuizQuestion,
            validation_quiz_answer as validationQuizAnswer,
            active
        from	user
        where  email = #{email}
        and  active = 1
    </select>


    <update id="userUpdateLastLoginTime"
            parameterType="com.baseleap.model.UserModel">
        UPDATE User
        SET
            last_login_time = now()
        WHERE email = #{email}
        and  active = 1
    </update>

</mapper>